.button {
  font-weight: bolder;
  color: white;
  background-color: rgb(136, 14, 134);
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 5px 5px gray;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(136, 14, 200);
    box-shadow: none;
  }
}