.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &--grid{
    flex-flow: row wrap;
  }
  
  &--list {
    flex-direction: column;
  }

}

.loaderContainer {
  width: 500px;
  height: 500px;
}