.cartCard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.textsContainer {
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  margin-left: 50px;
  height: 20em;
}