.card {
  border: 2px solid black;
  padding: 5px;
  box-shadow: 7px 5px 5px gray;
  
  &--clickable {
    cursor: pointer;
    &:active,
    &:hover {
      box-shadow: 15px 10px 10px gray;
    }
  }
}
