.navigationBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  width: 200px;
  min-width: 200px;
  min-height: calc(100vh - 20px);
}

.content {
  position: sticky;
  top:69px;
}

.loginButtonContainer {
  margin: auto;
  text-align: center;
}

.loginButton {
  margin-top: 20px;
  width: 90%;
}